*{
  box-sizing: border-box;
}
header{
  /* Add height and width here */
  width: 100vw;
  height: 30vh;
  background-color: lightcyan;
  text-align: center;
}

.middle-section{
  /* Add height and width here */
  width: 100vw;
  background-color: lightpink;
  /* Add flex properties here */
  display: flex;
  flex-direction: row;
  
}

aside{
  /* Add height and width here */
  width: 50vw;
  height: 65vh;

  background-color: lightseagreen;
}

.image-section{
  /* Add height and width here */
  width: 100vw ;
  height: 65vh;

  background-color: aliceblue;
  /* Add flex properties here */
  display: flex;
  align-items: flex-start;
  text-align: left;
  justify-content: left;
}



footer{
  /* Add height and width here */
  width: 100vw;
  height: 20vh;
  background-color: lime;
}